            /*BODY / UNIVERSAL STUFF*/

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #c4c4c4;
    margin-bottom: 51%;
}

        /*BODY*/

        /*BODY 1*/
#body_div1{
    position:absolute;
    top:9%;
    background-color:rgb(94, 94, 94);
    width:80%;
    height:70%;
    margin-left:10vw;
    text-align: center;
}

#body1_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

@keyframes cake_is_a_lie {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

#cake{
    width: 15%;
    animation-fill-mode: forwards;
    align-self: center;
    cursor:pointer;
    transition: transform 0.2s ease;
}

#cake:hover{
    transform: scale(1.05);
}


        /*BODY 2*/
#body_div2{
    position:absolute;
    top:79%;
    width:80%;
    height:70%;
    margin-left:10%;

    text-align:center;

    background-color:beige;
}

#body2_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

@keyframes lab_portal_grow {
    0% {width: 0%;}
    100% {width: 10%;}
}

@keyframes lab_portal_shrink{
    0% {width:10%;}
    100% {width:0%}
}

#lab_portal{
    width: 0%;
    align-self: center;
    cursor:pointer;
    transition: transform 0.2s ease;
}

#lab_portal:hover{
    transform: scale(1.05);
}


        /*BODY 3*/
#body_div3{
    position:absolute;
    top:149%;
    width:80%;
    height:70%;
    margin-left:10%;
    background-color: #FFDAB9;

    text-align:center;
}

#body3_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

#tob_img{
    width:15%;
    margin-top:2%;
    align-self: center;
    cursor:pointer;
    transition: transform 0.2s ease;
}

#tob_img:hover{
    transform: scale(1.05);
}


        /*BOTTOM*/
#BOTTOM{
    position:absolute;
    top:219%;
    width:80%;
    height:20%;
    margin-left:10%;
}