    /*
            --------FONT-------
    font-family:"Roboto Condensed", sans-serif;

    */

            /*BODY / UNIVERSAK STUFF*/

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #c4c4c4;
}

h1{
    font-family: "Roboto COndensed", sans-serif;
}

        /*UNIVERSAL MENU*/

#uni_menu{
    position:fixed;
    background-color: #171d25;
    width: 100%;
    height: 9%;
}

#ap_logo{
    padding:1em;
    width:12em;
    height: 3em;
    cursor:pointer;
}

#menu_text{
    display: flex;
    flex-direction: row;
    gap:12%;
    text-align:center;
}

.uni_menu_text{
    color:white;
    cursor: pointer;
    margin-top:1.5%;
    font-size: 1.5em;
}


        /*BODY*/

#body_div1{
    position:absolute;
    top:9%;
    background-color:blue;
    width:80vw;
    height:30%;
    margin-left:10vw;
}

#radio{
    width:7vw;
    position:fixed;
    left:1.5vw;
    bottom:2vw;


    cursor:pointer;    
}

audio {
    display: none;
}