    /*
            --------FONT-------
    font-family:"Roboto Condensed", sans-serif;

    */

            /*BODY / UNIVERSAL STUFF*/

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #c4c4c4;
}

h1{
    font-family: "Roboto COndensed", sans-serif;
}
        /*BODY*/

        /*BODY 1*/
#body_div1{
    position:absolute;
    top:9%;
    background-color:rgb(94, 94, 94);
    width:80%;
    height:70%;
    margin-left:10vw;
    text-align: center;
}

#body1_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

@keyframes cake_is_not_real {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

#cake{
    width: 15%;
    cursor: pointer;
    animation-fill-mode: forwards;
}

        /*BODY 2*/
#body_div2{
    position:absolute;
    top:79%;
    width:80%;
    height:70%;
    margin-left:10%;

    text-align:center;

    background-color:beige;
}

#body2_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

#lab_portal {
    width: 5%;
    cursor: pointer;
}

/*RADIO*/

#radio{
    width:7vw;
    position:fixed;
    left:1.5vw;
    bottom:2vw;

    cursor:pointer;    
}

audio {
    display: none;
}