        /*UNIVERSAL MENU*/

#uni_menu{
    position:fixed;
    background-color: #171d25;
    width: 100%;
    height: 9%;
    z-index: 1;
}

#ap_logo{
    padding:1.2em;
    width:12em;
    height: 3em;
    align-self: center;
    cursor:pointer;
    transition: transform 0.2s ease;
}

#ap_logo:hover{
    transform: scale(1.05);
}

#menu_text{
    display: flex;
    flex-direction: row;
    gap:12%;
    text-align:center;
    justify-content: center;
    align-items: center;
}

.uni_menu_text{
    color:white;
    cursor: pointer;
    margin:1.2em;
    font-size: 1.5em;
    text-decoration: none;
}

#rs_redir:hover{
    color:#17bfe9;
}

#tob_redir:hover{
    color:#f88431;
}

#testc_redir:hover{
    color:#a9a9a9;
}

h1, a{
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
}

        /*RADIO*/

#radio{
    width:7vw;
    position:fixed;
    left:1.5vw;
    bottom:2vw;
    align-self: center;
    cursor:pointer;
    transition: transform 0.2s ease;
}

#radio:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 .4em #17bfe9);
}

audio {
    display: none;
}