        /*UNIVERSAL MENU*/

#uni_menu{
    position:fixed;
    background-color: #171d25;
    width: 100%;
    height: 9%;
    z-index: 1;
}

#ap_logo{
    padding:1.2em;
    width:12em;
    height: 3em;
    cursor:pointer;
}

#menu_text{
    display: flex;
    flex-direction: row;
    gap:12%;
    text-align:center;
}

.uni_menu_text{
    color:white;
    cursor: pointer;
    margin:1.2em;
    font-size: 1.5em;
}


        /*RADIO*/

#radio{
    width:7vw;
    position:fixed;
    left:1.5vw;
    bottom:2vw;

    cursor:pointer;    
}

audio {
    display: none;
}