    /*
            --------FONT-------
    font-family:"Roboto Condensed", sans-serif;

    */

            /*BODY / UNIVERSAL STUFF*/

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #c4c4c4;
}

h1{
    font-family: "Roboto COndensed", sans-serif;
}
        /*BODY*/

                /*BODY 1*/
#body_div1{
    position:absolute;
    top:9%;
    background-color:rgb(145, 145, 145);
    width:80%;
    height:300%;
    margin-left:10vw;
    text-align: center;
}

#body1_text{
    font-size: 5em;
    padding-left:2em;
    padding-right:2em;
}

#portalgun_div{
    position:absolute;
    width:30%;
    left:10%;
    top: 12%;
    transform: rotate(17deg);
    text-align: center;
}

@keyframes move_left{
    0% {opacity: 0%; transform: rotate(-17deg) translateX(-100%);}
    100% {opacity: 100%; transform: rotate(0deg) translateX(0%);}
}

@keyframes move_right{
    0% {opacity: 0%; transform: rotate(10deg) translateX(100%);}
    100% {opacity: 100%; transform: rotate(0deg) translateX(0%);}
}

@keyframes move_up{
    0% {opacity: 0%; transform: rotate(-2deg) translateY(100%);}
    100% {opacity: 100%; transform: rotate(0deg) translateY(0%);}
}

@keyframes tape_show{
    0% {opacity: 75%; width:0%;}
    100% {opacity: 75% ;width: 100%;}
}

#portalgun_concept{
    opacity: 0%;
    width:100%;

    position:absolute;
    left:5%;

    animation-name: move_left;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

#glados_concept_div{
    position:absolute;
    right:13%;

    width:27%;

    transform: rotate(-10deg);
}

#glados_concept{
    animation-name: move_right;
    animation-duration: .3s;
    animation-fill-mode: forwards;

    position:absolute;
    width:100%;
    left:5%;
    cursor: pointer;
}

audio {
    display:none;
}


.concept_text{
    position: relative;
    z-index: 1;
    background-color: white;
    margin-bottom:-2%;
    opacity: 0%;
    padding: 0.3em 1em;
    width:50%;

    animation-name: tape_show;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

#cake_concept_div{
    position:absolute;
    top:30%;
    left:30%;

    width:27%;

    transform: rotate(3deg);
}

#cake_concept{
    width:100%;
    position:relative;
    left:7%;

    animation-name: move_left;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}


